body{
  margin: 0;
  font-family: "Karla", sans-serif;
}

nav{
  background-color: purple;
  display: flex;
  align-items: center;
  color: white;
  background: linear-gradient(to right, #672280 0%, #A626D3 100%);

  
}

.logo{
  width: 50x;
  height: 50px;
  margin-left: 45px;
}

.header-right{
  padding: 20px 45px;
}

.header-left{
margin-right: auto;
padding: 0 20px;
font-size: 1.5rem;
}

form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
}

.submit{
  grid-column: 1/-1;
  background: linear-gradient(to right, #672280 0%, #A626D3 100%);
  color: white;
}

main{
  padding: 76px;
}

.input{
  border-radius: 5px;
  text-indent: 5px;
}